[submodule "plugins/tauri-plugin-app-events"]
	path = plugins/tauri-plugin-app-events
	url = https://github.com/VinVel/tauri-plugin-app-events.git
[submodule "src/components"]
	path = src/components
	url = https://github.com/VinVel/Common-UI.git
[submodule "plugins/tauri-plugin-tracing"]
	path = plugins/tauri-plugin-tracing
	url = https://github.com/VinVel/tauri-plugin-tracing.git
